<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>PayPartnerTest.PayPartner_SuccessPayment()[pri:0, instance:com.wave.channel.testcases.PayPartnerTest@353352b6]<br/></td></tr>
<tr><td>sanity</td><td>PayPartnerTest.PayPartner_SuccessPayment()[pri:0, instance:com.wave.channel.testcases.PayPartnerTest@353352b6]<br/></td></tr>
</table>
