<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>BillersTest.TestBillers(java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.wave.channel.testcases.BillersTest@324a0017]<br/></td></tr>
<tr><td>sanity</td><td>BillersTest.TestBillers(java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.wave.channel.testcases.BillersTest@324a0017]<br/></td></tr>
</table>
