<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2f981">  <td>21/09/10 09:25:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BillersTest.BeforeMethod(java.lang.reflect.Method, [Ljava.lang.Object;)[pri:0, instance:com.wave.channel.testcases.BillersTest@324a0017]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/09/10 09:25:54</td>   <td>9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BillersTest.BeforeMethod(java.lang.reflect.Method, [Ljava.lang.Object;)[pri:0, instance:com.wave.channel.testcases.BillersTest@324a0017]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/09/10 09:25:54</td>   <td>2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BillersTest.TestBillers(java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.wave.channel.testcases.BillersTest@324a0017]">TestBillers</td> 
  <td>main@1152606315</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/09/10 09:25:54</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BillersTest.TestBillers(java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.wave.channel.testcases.BillersTest@324a0017]">TestBillers</td> 
  <td>main@1152606315</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/09/10 09:25:37</td>   <td>-16432</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BillersTest.setUp()[pri:0, instance:com.wave.channel.testcases.BillersTest@324a0017]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1152606315</td>   <td></td> </tr>
<tr bgcolor="a2f981">  <td>21/09/10 09:25:54</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BillersTest.tearDown()[pri:0, instance:com.wave.channel.testcases.BillersTest@324a0017]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
