<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>LogInTest.Login_Success()[pri:1, instance:com.wave.channel.testcases.LogInTest@1991f767]<br/>BillersTest.TestBillers(java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.wave.channel.testcases.BillersTest@768ccdc5]<br/></td></tr>
<tr><td>sanity</td><td>LogInTest.Login_Success()[pri:1, instance:com.wave.channel.testcases.LogInTest@1991f767]<br/>BillersTest.TestBillers(java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.wave.channel.testcases.BillersTest@768ccdc5]<br/></td></tr>
<tr><td>testpartial</td><td>LogInTest.Login_Success()[pri:1, instance:com.wave.channel.testcases.LogInTest@1991f767]<br/></td></tr>
</table>
