<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8062d2">  <td>21/09/14 17:36:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogInTest.setUp_3()[pri:0, instance:com.wave.channel.testcases.LogInTest@1991f767]">&gt;&gt;setUp_3</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@901689694</td>   <td></td> </tr>
<tr bgcolor="8062d2">  <td>21/09/14 17:36:11</td>   <td>11234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogInTest.Login_Success()[pri:1, instance:com.wave.channel.testcases.LogInTest@1991f767]">Login_Success</td> 
  <td>main@901689694</td>   <td></td> </tr>
<tr bgcolor="956878">  <td>21/09/14 17:36:44</td>   <td>44054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BillersTest.BeforeMethod(java.lang.reflect.Method, [Ljava.lang.Object;)[pri:0, instance:com.wave.channel.testcases.BillersTest@768ccdc5]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@901689694</td>   <td></td> </tr>
<tr bgcolor="956878">  <td>21/09/14 17:36:44</td>   <td>44055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BillersTest.TestBillers(java.lang.Object, java.lang.Object, java.lang.Object, java.lang.Object)[pri:0, instance:com.wave.channel.testcases.BillersTest@768ccdc5]">TestBillers</td> 
  <td>main@901689694</td>   <td></td> </tr>
<tr bgcolor="8062d2">  <td>21/09/14 17:39:27</td>   <td>207044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogInTest.tearDown_3()[pri:0, instance:com.wave.channel.testcases.LogInTest@1991f767]">&lt;&lt;tearDown_3</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@901689694</td>   <td></td> </tr>
</table>
