<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.wave.channel.testcases.LogInTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logInSuccessfully</td>
<td>regression sanity </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.wave.channel.testcases.CashInTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CashIn_Success</td>
<td>regression sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CashIn_Fail_NonMA</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CashIn_Fail_ExceedBalance</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.wave.channel.testcases.PayPartnerTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>PayPartner_SuccessPayment</td>
<td>regression sanity </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.wave.channel.testcases.SendMoneyTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyMA_Fail_SenderPartner</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyOTC_Fail_ReceiverPartner</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyOTC_Fail_NotEnoughBalance</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyMA_Fail_NonMA</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyOTC_SamePOI</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyOTC_Fail_SenderPartner</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyMA_Success</td>
<td>regression sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyMA_Fail_NotEnoughBalance</td>
<td>regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyOTC_Success</td>
<td>regression sanity </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SendMoneyMA_Fail_ReceiverPartner</td>
<td>regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
