<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>regression</td><td>CashInTest.CashIn_Success()[pri:0, instance:com.wave.channel.testcases.CashInTest@7188af83]<br/>SendMoneyTest.SendMoneyOTC_Success()[pri:0, instance:com.wave.channel.testcases.SendMoneyTest@59402b8f]<br/>PayPartnerTest.PayPartner_SuccessPayment()[pri:0, instance:com.wave.channel.testcases.PayPartnerTest@6be968ce]<br/>SendMoneyTest.SendMoneyMA_Success()[pri:1, instance:com.wave.channel.testcases.SendMoneyTest@59402b8f]<br/>LogInTest.logInSuccessfully()[pri:1, instance:com.wave.channel.testcases.LogInTest@496bc455]<br/></td></tr>
<tr><td>sanity</td><td>CashInTest.CashIn_Success()[pri:0, instance:com.wave.channel.testcases.CashInTest@7188af83]<br/>SendMoneyTest.SendMoneyOTC_Success()[pri:0, instance:com.wave.channel.testcases.SendMoneyTest@59402b8f]<br/>PayPartnerTest.PayPartner_SuccessPayment()[pri:0, instance:com.wave.channel.testcases.PayPartnerTest@6be968ce]<br/>SendMoneyTest.SendMoneyMA_Success()[pri:1, instance:com.wave.channel.testcases.SendMoneyTest@59402b8f]<br/>LogInTest.logInSuccessfully()[pri:1, instance:com.wave.channel.testcases.LogInTest@496bc455]<br/></td></tr>
</table>
