<h2>Methods that were not run</h2><table>
<tr><td>com.wave.channel.testcases.SendMoneyTest.SendMoneyOTC_SamePOI</td></tr>
<tr><td>com.wave.channel.testcases.SendMoneyTest.SendMoneyOTC_Fail_SenderPartner</td></tr>
<tr><td>com.wave.channel.testcases.SendMoneyTest.SendMoneyMA_Fail_SenderPartner</td></tr>
<tr><td>com.wave.channel.testcases.SendMoneyTest.SendMoneyMA_Fail_NotEnoughBalance</td></tr>
<tr><td>com.wave.channel.testcases.SendMoneyTest.SendMoneyMA_Fail_ReceiverPartner</td></tr>
<tr><td>com.wave.channel.testcases.CashInTest.CashIn_Fail_NonMA</td></tr>
<tr><td>com.wave.channel.testcases.CashInTest.CashIn_Fail_ExceedBalance</td></tr>
<tr><td>com.wave.channel.testcases.SendMoneyTest.SendMoneyOTC_Fail_NotEnoughBalance</td></tr>
<tr><td>com.wave.channel.testcases.SendMoneyTest.SendMoneyOTC_Fail_ReceiverPartner</td></tr>
<tr><td>com.wave.channel.testcases.SendMoneyTest.SendMoneyMA_Fail_NonMA</td></tr>
</table>