<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>My suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e3b6f0">  <td>21/04/20 14:46:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CashInTest.CashIn_Success()[pri:0, instance:com.wave.channel.testcases.CashInTest@7188af83]">CashIn_Success</td> 
  <td>main@1552326679</td>   <td></td> </tr>
<tr bgcolor="d9a273">  <td>21/04/20 14:46:49</td>   <td>41750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PayPartnerTest.PayPartner_SuccessPayment()[pri:0, instance:com.wave.channel.testcases.PayPartnerTest@6be968ce]">PayPartner_SuccessPayment</td> 
  <td>main@1552326679</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>21/04/20 14:44:55</td>   <td>-72366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMoneyTest.SendMoneyMA_Success()[pri:1, instance:com.wave.channel.testcases.SendMoneyTest@59402b8f]">SendMoneyMA_Success</td> 
  <td>main@1552326679</td>   <td></td> </tr>
<tr bgcolor="a7679e">  <td>21/04/20 14:43:26</td>   <td>-161087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMoneyTest.SendMoneyOTC_Success()[pri:0, instance:com.wave.channel.testcases.SendMoneyTest@59402b8f]">SendMoneyOTC_Success</td> 
  <td>main@1552326679</td>   <td></td> </tr>
<tr bgcolor="607b64">  <td>21/04/20 14:42:51</td>   <td>-196606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogInTest.logInSuccessfully()[pri:1, instance:com.wave.channel.testcases.LogInTest@496bc455]">logInSuccessfully</td> 
  <td>main@1552326679</td>   <td></td> </tr>
<tr bgcolor="607b64">  <td>21/04/20 14:42:32</td>   <td>-215335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogInTest.setUp_2()[pri:0, instance:com.wave.channel.testcases.LogInTest@496bc455]">&gt;&gt;setUp_2</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552326679</td>   <td></td> </tr>
<tr bgcolor="607b64">  <td>21/04/20 14:47:24</td>   <td>76414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LogInTest.tearDown_2()[pri:0, instance:com.wave.channel.testcases.LogInTest@496bc455]">&lt;&lt;tearDown_2</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1552326679</td>   <td></td> </tr>
</table>
